.page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;

    left: 50%;
    transform: translate(-50%, 0);

    background-color: #F7F7F7;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.serchPage>input{
    position: relative;
    width: 80%;
    border: 2px solid #efbbff;
}
.serchPage>button{
    position: relative;
    left:2%;
    width: 15%;
    height: 35PX;
    border: 2px solid #9e30f4;
    border-radius: 8px;

}
.permitPage{
    visibility: hidden;
}
p {
    font-size: 18px;
    font-weight: 600;
    color: #262626;
    
}

select:focus-within {
    border: 1px solid #9e30f4;
}
select { 
    color: #dadada;
    border-radius: 8px;
    width: 100%;
    outline: none;
	border: none;
    height: 30px;
    font-size: 14px;
	font-weight: 400;
}
option{
    color: #262626;
}
input{
    height: 30px;
    border-radius: 8px;

}
input:focus-within {
    border: 1px solid #9e30f4;
}
.bottomButton {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 64px;
    background-color: #9e30f4;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
}
