
body {
    background-color:   #0d0f15; /* 어두운 우주 같은 배경 */
    color: #e8e8e8; 
    font-family: 'Roboto'/*, sans-serif*/; /* 간결하고 미래적인 느낌 */
     margin: 0;
    padding: 0; 
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    width : 100%;   
  }

/* 버튼 스타일 */
.button {
    background-color: #3b90a1;
    /* 네온 블루 버튼 */
    color: #0d0f15;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sit_button {
    /* background-color: #8fbc8f; */
    /* 네온 블루 버튼 */
    color: #0d0f15;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background-color 0.3s ease;*/
}
/* .sit_button:hover {
    background-color: #a9a9a9;
     호버 시 색 변경
    color: #0d0f15;
}*/

.logo {
    background-color: #0d0f15;
}
.normal_blank{
    top: 2;
}
.normal_blank button{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column; 
    margin-left: 30px;
}
.row_blank{
    margin-left: 100px;
    

}
.row_blank button{  
    width: 75px;  
    height:95px;  
    margin: 1px;
}

.blank div{
    width: 30px;
}

.pop_up{
    position: absolute;
    width: 280px;
    top: 200px;
    font-size: larger;
    background-color: #1b1e24;
    color: aliceblue;    
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(194, 185, 185, 0.8); /* 그림자 효과 */
    display: inline-block;
   
}

